<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hash</key>
	<string>d36cc9da375a0c40b6387cb451813909</string>
	<key>apiKey</key>
	<string>fce4568c6797d347d39cf7dafd94adc8</string>
	<key>timestamp</key>
	<string>1633773389</string>
</dict>
</plist>
